
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3>New Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
 <app-slideshow-backdrop [recientMovies]="recientMovies"></app-slideshow-backdrop>
 <ion-grid fixed>
  <ion-row>
    <ion-col >
      <h3>Billboard</h3>
    </ion-col>
  </ion-row>
</ion-grid>
 <app-slideshow-poster [recientMovies]="recientMovies"></app-slideshow-poster>
 <ion-grid fixed>
  <ion-row>
    <ion-col>
      <h3>Popularity</h3>
    </ion-col>
  </ion-row>
</ion-grid>
 <app-slideshow-pares [recientMovies]="popularity"></app-slideshow-pares>
</ion-content>
