
 .title h1 {
     margin-top: 24px;
} 
.actor-name {
    position: relative;
    top:15px;
}
.img-backdrop{
    border-radius: 0px 0px 0px 186px;
}

.items-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.toolbar{
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 999;

    background: #E83333;
    background-color: transparent;
}
ion-toolbar{
    background-color: transparent;
    ion-buttons{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;

        background: rgba(211, 207, 203, 0.3);
        backdrop-filter: blur( 5.5px );

        ion-icon{
            position: absolute;
            left: 15px;
        }
    }
}
ion-chip{
    color:var(--ion-color-primary);
    background: rgba(211, 207, 203, 0.3);
    backdrop-filter: blur( 5.5px );
}



