
 .title h1 {
     margin-top: 24px;
} 

.actor-name {
    position: relative;
    top:15px;
}


.img-backdrop{
    border-radius: 0px 0px 0px 186px;
    //clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 24% 100%, 15% 51%, 25% 0%);
}

.items-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .vote_average{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    ion-icon{
        margin: 0px 10px 0px 10px;
    }

}

.toolbar{
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 999;

    background: #E83333;
    background-color: transparent;
}

ion-toolbar{
    background-color: transparent;

    ion-buttons{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;

        background: rgba(211, 207, 203, 0.3);
        backdrop-filter: blur( 5.5px );

        ion-icon{
            position: absolute;
            left: 15px;
        }
    }

    
}


